$green: rgb(117, 197, 42);
$darkgreen: rgb(87, 143, 35);

.cartBtn{
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 6px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    div{
        width: 30px;
        display: flex;
        position: relative;

        


        p{
            position: absolute;
            right: 5px;
            bottom: 15px;
            color: red;
            font-weight: 900;
        }
    }
    &:hover{
        background-color: $darkgreen;
    }
}




