.CardItem{
    display: flex;
    justify-content: center;
    transition: 1s,
}

.Header{
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ItemHeader{
    display: flex;
}
picture{
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}