
.Header{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardItem{
    display: flex;
    justify-content: center;
}

.ItemHeader{
    display: flex;
}

picture{
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}