.NavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0 10px 0;
  background-color: black;
  color: white;
}
.NavBar Link {
  text-decoration: none;
}
.NavBar .Categories .Option, .NavBar .Categories .ActiveOption {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin: 0 30px 0 30px;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.NavBar .Categories .Option:hover, .NavBar .Categories .ActiveOption:hover {
  background-color: red;
}

h3{
  color: white;
}