$green: rgb(117, 197, 42);
$darkgreen: rgb(87, 143, 35);

.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: $green;
    color: white;

    Link{
        text-decoration: none;
    }
    
    div{
        .Option, .ActiveOption{
            cursor: pointer;
            text-decoration: none;
            border: none;
            background-color: transparent;
            margin: 0 30px 0 30px;
            font-size: 20px;
            padding: 10px;
            color: white;
            border-radius: 5px;

            &:hover{
                background-color: $darkgreen;
            }
        }
    }
}

