.cartList{
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cartInfo{
        display: flex;
        align-items: center;
        
        .info{
            margin: 10px;
        }
    }
}